<link href="../all.css" rel="stylesheet" type="text/css">

<header>resource token</header>
<hr>
<br/>
<article>
	<table class="table">
		<tr>
			<td>resource token</td>
		</tr>
		<tr>
			<td class="td">
				<%= resource_token %>
			</td>
		</tr>
	</table>
</article>
<hr/>
<footer>resource token</footer>