<% layout('layout') -%>
<% script('.js') -%>
<% stylesheet('all.css') -%>

<header>resource token</header>
<hr>
<br/>
<article>
	<table class="table">
		<tr>
			<td>resource</td>
		</tr>
		<tr>
			<td><img src=<%= resource_url %>></td>
		</tr>
	</table>
</article>
<hr/>
<footer>resource token</footer>